@use "../../../styles/variables" as *;

.sideMenu {
  background-color: $sideMenuBg;
  padding: $spacingLarge;
  border-radius: $radiousSm;
  height: max-content;
  h1 {
    margin-bottom: $spacingSmall;
  }
  ul {
    li {
      margin-left: $spacingLarge;
      font-size: $fontParagraph;
      list-style: disc;
      margin-bottom: $spacingSmall;
      text-decoration: underline;
    }
  }
}
